*thesis.pdf
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bak
*.bbl
*.bcf
*.blg
*.dvi
*.fls
*.glg
*.glo
*.gls
*.idx
*.ist
*.ilg
*.ind
*.log
*.lof
*.lot
*.out
*.ps
*.sav
*.swp
*.synctex.gz
*.toc
*.xdv

*.run.xml
*-blx.bib

*_latexmk

*~

*.pgf-plot.*

Figures/External/

.vscode/settings.json
